.basket__container{
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 35px auto 50px;
  gap: 35px;
}


.basket__card{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #202020;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  
  & img{
    padding: 0;
    min-width: 200px;
    width: 200px;
    height: 170px;
  }
}

.basket__body{
  padding: 15px 25px 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  & h3{
    margin: 0;
  }
}


.btnBasket__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  & p{
    color: #ff0000;
    font-size: 20px;
    margin: 0;
  }
}

.btn__busket {
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn__busket:hover {
  background-color: #363636;
}

.btn__favourite{
  position: absolute;
  right: 145px;
  bottom: 25px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  padding: 0;

}

.btn__favourite:hover {
  color: #c9ab03;
}


.active__favourite{
  color: #e5ff00;
}